<div class="related-products-wrapper">
    <h2 class="related-products-title">You may be interested in...</h2>
    <div class="related-products-carousel">
        <div class="single-product">
            <div class="product-f-image">
                <a href="single-product.html">
                    <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-2.jpg">
                    <h3>Ship Your Idea</h3>
                </a>
            </div>
            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
            <div class="product-carousel-price">
                <span class="price"><span class="amount">£20.00</span></span>
            </div>
        </div>

        <div class="single-product">
            <div class="product-f-image">
                <a href="single-product.html">
                    <img width="325" height="325" alt="T_4_front" class="attachment-shop_catalog wp-post-image" src="img/product-4.jpg">
                    <h3>Ship Your Idea</h3>
                </a>
            </div>
            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="22" rel="nofollow" href="single-product.html">Select options</a>
            <div class="product-carousel-price">
                <span class="price"><span class="amount">£20.00</span></span>
            </div>
        </div>
    </div>
</div>