@{
    var productStore = Context.Items["product"] as ProductStore;
    List<Product> products = new List<Product>();
    products = productStore.Products;
}
<div class="single-sidebar">
    <h2 class="sidebar-title">Products</h2>
        @foreach (var p in products.Take(3))
        {
        <div class="thubmnail-recent">
            <img src="~/img/@p.HinhAnh" class="recent-thumb" alt="">
            <h2><a asp-controller="product" asp-action="detail" asp-route-id="@p.MaSp">@p.TenSp</a></h2>
            <div class="product-sidebar-price">
                <ins>$@string.Format("{0:N2}", p.DonGia * (1 - p.DonGiaKhuyenMai))</ins>
                <del>$@string.Format("{0:N2}", p.DonGia)</del>
            </div>
        </div>
        }
</div>