@using BaiTap_02_23WebC_Nhom10.Service;
@{
    var productService = Context.Items["product"] as ProductService;
    List<Product> products = new List<Product>();
    products = productService.Products;
}
<div class="single-sidebar">
    <h2 class="sidebar-title">Recent Posts</h2>
    <ul>
		@foreach (var p in products.Take(5))
		{
			<li><a asp-controller="product" asp-action="detail" asp-route-id="@p.MaSp">@p.TenSp</a></li>
		}
    </ul>
</div>