@using BaiTap_02_23WebC_Nhom10.Service;
@{

    var productService = Context.Items["product"] as ProductService;
    var products = productService?.Products ?? new List<Product>();

}

<div class="related-products-wrapper">
    <h2 class="related-products-title">Related Products</h2>
    <div class="related-products-carousel">
        @foreach (var p in products)
        {

            var finalPrice = p.DonGia * (1 - p.DonGiaKhuyenMai);

            <div class="single-product">
                <div class="product-f-image">
                    <img src="~/img/@p.HinhAnh" alt="">
                    <div class="product-hover">
                        <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        <a asp-controller="product" asp-action="detail" asp-route-id="@p.MaSp" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                    </div>
                </div>

                <h2><a asp-controller="product" asp-action="detail" asp-route-id="@p.MaSp">@p.TenSp</a></h2>

                <div class="product-carousel-price">

                    @if (p.DonGiaKhuyenMai > 0)
                    {

                        <ins>$@finalPrice.ToString("N2")</ins>

                        <del>$@p.DonGia.ToString("N2")</del>
                    }
                    else
                    {

                        <ins>$@p.DonGia.ToString("N2")</ins>
                    }
                </div>
            </div>
        }
    </div>
</div>